@model BL.Models.User

@{
    ViewData["Title"] = "Reset";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>If an account exists with that email address, a reset link will be sent.  Thank you.</h3>