@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



<body class="d-flex flex-column">
    <main class="flex-shrink-0">
     
             <!-- Header-->
        <header class="py-5">
            <div class="container-fluid px-5">
                <div class="row">
                    <div class="col-12">
                        <div class="text-left my-3">
                            <h2 class="fw-bolder">Our Mission</h2>
                            <p class="lead fw-normal text-muted mb-0">
                                At Elevate, our mission is to empower individuals to enhance their skills and knowledge
                                through accessible and engaging learning experiences. We are committed to creating a vibrant community
                                that fosters growth, creativity, and collaboration, enabling every learner to unlock their full potential
                                and achieve their personal and professional goals. Through innovation and teamwork, we strive to elevate
                                the educational journey for all.</p>
                                                    
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- About section one-->
        <section class="py-5 bg-light" id="scroll-target">
            <div class="container px-5 my-3">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="https://dummyimage.com/600x400/343a40/6c757d" alt="..." /></div>
                    <div class="col-lg-6">
                        <h2 class="fw-bolder">Our founding</h2>
                        <p class="lead fw-normal text-muted mb-0">In the spirit of innovation and collaboration, we, 
                            a dynamic team of five students—four passionate software developers and one creative web
                            designer—came together to found "Elevate." What began as a school project quickly evolved
                            into a shared vision of empowering individuals through accessible learning resources. 
                            Our diverse skills and unique perspectives drive us to create an engaging platform that 
                            inspires growth and knowledge. As we embark on this exciting journey, we’re not just building
                            a business; we’re laying the groundwork for a vibrant community where learning meets creativity, 
                            and we can’t wait to see where this adventure takes us!</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- About section two-->
        <section class="py-5">
            <div class="container px-5 my-3">
                <div class="row gx-5 align-items-center">
                    <h2 class="fw-bolder">Our Name</h2>
                    <p class="lead fw-normal text-muted mb-0">The name "Elevate" perfectly encapsulates our mission and vision as a 
                        team of aspiring innovators. We wanted a name that reflects our commitment to helping individuals grow
                        their skills and knowledge in a supportive and engaging environment. "Elevate" signifies not only the act
                        of rising to new heights but also the transformative journey of personal and professional development. 
                        As we embark on this project, we aim to inspire our users to elevate their learning experiences, unlocking
                        their full potential and achieving their goals. This name embodies our dedication to fostering growth
                        and excellence in all who join us on this exciting adventure!</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Team members section-->
        <section class="py-5 bg-light">
            <div class="container px-5 my-3">
                <div class="text-center">
                    <h2 class="fw-bolder">Our team</h2>
                    <p class="lead fw-normal text-muted mb-5">Dedicated to quality and your success</p>
                </div>
                <div class="row gx-3 row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-5 justify-content-center">
                    <div class="col mb-3">
                        <div class="text-center">
                            <img class="img-fluid rounded-circle mb-2" src="~/images/derek.jpg" style="width: 100px; height: auto;" />
                            <h5 class="fw-bolder">Derek Peerenboom</h5>
                            <div class="fst-italic text-muted">Software Developer</div>
                        </div>
                    </div>
                    <div class="col mb-3">
                        <div class="text-center">
                            <img class="img-fluid rounded-circle mb-2" src="~/images/zach.jpg" style="width: 100px; height: auto;" />
                            <h5 class="fw-bolder">Zach Sullivan</h5>
                            <div class="fst-italic text-muted">Software Developer</div>
                        </div>
                    </div>
                    <div class="col mb-3">
                        <div class="text-center">
                            <img class="img-fluid rounded-circle mb-2" src="~/images/nicki.jpg" style="width: 100px; height: auto;" />
                            <h5 class="fw-bolder">Nicki Langfeldt</h5>
                            <div class="fst-italic text-muted">Web Designer</div>
                        </div>
                    </div>
                    <div class="col mb-3">
                        <div class="text-center">
                            <img class="img-fluid rounded-circle mb-2" src="https://dummyimage.com/100x100/ced4da/6c757d" alt="Joe Kirk" />
                            <h5 class="fw-bolder">Joe Kirk</h5>
                            <div class="fst-italic text-muted">Software Developer</div>
                        </div>
                    </div>
                    <div class="col mb-3">
                        <div class="text-center">
                            <img class="img-fluid rounded-circle mb-2" src="https://dummyimage.com/100x100/ced4da/6c757d" alt="Dawson Knudtson" />
                            <h5 class="fw-bolder">Dawson Knudtson</h5>
                            <div class="fst-italic text-muted">Software Developer</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- Footer-->
    <footer class="bg-dark py-4 mt-auto">
        <div class="container px-5">
            <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; Elevate 2024</div></div>
                <div class="col-auto">
                    <a class="link-light small" href="#!">Privacy</a>
                    <span class="text-white mx-1">&middot;</span>
                    <a class="link-light small" href="#!">Terms</a>
                    <span class="text-white mx-1">&middot;</span>
                    <a class="link-light small" href="#!">Contact</a>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>
